<settings>
    <setting propertyKey="@Properties.alertMinutes" title="@Strings.SettingAlertMinutes">
        <settingConfig type="numeric" min="1" max="60"/>
    </setting>
    <setting propertyKey="@Properties.refreshSeconds" title="@Strings.SettingRefreshSeconds">
        <settingConfig type="numeric" min="15" max="300"/>
    </setting>
    <setting propertyKey="@Properties.maxDepartures" title="@Strings.SettingMaxDepartures">
        <settingConfig type="numeric" min="3" max="15"/>
    </setting>
    <setting propertyKey="@Properties.radiusM" title="@Strings.SettingRadius">
        <settingConfig type="numeric" min="100" max="3000"/>
    </setting>
    <setting propertyKey="@Properties.hideTrains" title="@Strings.SettingHideTrains">
        <settingConfig type="boolean"/>
    </setting>
    <setting propertyKey="@Properties.apiBase" title="@Strings.SettingApiBase">
        <settingConfig type="alphaNumeric"/>
    </setting>
</settings>
